footer input{
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
	padding: 5px 10px;
}
.footer-form-textarea{
	width: 100%;
	margin: 20px 0;
	display: block;
	height: 80px;
	box-sizing: border-box;
	padding: 5px 10px;
}
.footer-form-submit{
	margin: 0 auto;
	margin-top: 20px;
}
.footer-form-submitContact, .footer-form-submitAdmin{
	width: 100px;
}
#footer{
	display: flex;
}
.footer-content{
	margin: auto;
	height: 300px;
	padding: 50px;
}
.div-footer-contact{
	float: left;
	width: 350px;
	height: 100%;
	display: flex;
}
.div-footer-contact-content{
	width: 100%;
	margin: auto;
}
.div-footer-logo{
	float: left;
	width: 350px;
	height: 100%;
	display: flex;
}
.footer-logo{
	padding: 50px 0;
	width: 100px;
	margin: 0 auto;
	display: block;
}
.div-footer-logo-content{
	width: 100%;
	margin: auto;
}
.div-footer-admin{
	float: left;
	width: 350px;
	height: 100%;
	display: flex;
}
.div-footer-admin-content{
	width: 100%;
	margin: auto;
}