<<<<<<< HEAD:celi/css/footer/footertheme.css
#footer{
	background-color: rgb(0, 70, 135);
}
.footer-title{
	text-align: center;
	text-transform: uppercase;
	font-family: arial;
	color: #fff;
=======
#footer{
	background-color: #e8d351;
}
.footer-title{
	text-align: center;
	text-transform: uppercase;
	font-family: arial;
	color: #fff;
>>>>>>> da98bc171508b5eec23b157faad677b12ab9a95e:celi/cadastrarcurso/html/css/footer/theme.css
}