*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 100px 0;
}
.main-title{
	display: block;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: auto;
	margin: 0 auto;
} 
.main-form-box{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.main-form-box-dataAbert, .main-form-box-horaAbert, .main-form-box-dataEncer, .main-form-box-horaEncer{
	display: block;
	float: left;
	width: 50%;
}
.main-form-label:not(.main-form-labelCurso):not(.main-form-labelVagas):not(.main-form-labelCondicoes){
	clear: both;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
}
.main-form-labelVagas{
	width: 600px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
.main-form-labelCurso{
	width: 400px;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 10px;
}
.main-form-input:not(.main-form-labelCurso):not(.main-form-labelVagas){
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}
.main-form-box-cursos{
	display: block;
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.main-form-box-col1{
	width: 600px;
}
.main-form-box-col2, .main-form-box-col3{
	width: 200px;
}
.main-form-boxCondicao{
	width: 1250px;
	height: auto;
	margin: 0 auto;
}
.main-form-labelCondicoes{
	display: block;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
.main-form-inputCondicoes{
	display: block;
	height: 100px;
}
.main-form-inputButton{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	clear: both;
	width: 100px;
	height: 25px;
}