*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 100px 0;
}
.main-title{
	display: block;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: 500px;
	margin: 0 auto;
}

/*
 *	TABLE: data e hora
*/

/* tabela */
.main-form-content-dataHora{
	position: relative;
	display: block;
	width: inherit;
	margin-bottom: 20px;
	margin-top: 40px;
}
/* tr's */
.main-form-dataLabel, .main-form-dataInput, .main-form-horaLabel, .main-form-horaInput{
	display: block;
	width: inherit;
}
/* td's: separador e os demais td's */
.main-form-separador-horaData{
	width: 150px;
}
.main-form-abertLabel-data, .main-form-encerLabel-data, .main-form-abertInput-data, .main-form-encerInput-data, .main-form-abertLabel-hora, .main-form-encerLabel-hora, .main-form-abertInput-hora, .main-form-encerInput-hora{
	width: 175px;
}
/* Conteúdo do separador: span */
.main-form-content-dataHora::before{
	display: block;
	position: absolute;
	top: -10px;
	left: 249px;
	content: '';
	width: 2px;
	height: 162px;
	background-color: #ccc;
}
/* conteúdo dos td's */
.main-form-abertLabel-data-text, .main-form-encerLabel-data-text, .main-form-abertLabel-hora-text, .main-form-encerLabel-hora-text{
	display: block;
	width: 100%;
	margin-bottom: 3px;
}
.main-form-abertInput-data-text, .main-form-encerInput-data-text, .main-form-abertInput-hora-text, .main-form-encerInput-hora-text{
	width: 100%;
	margin-bottom: 20px
}

/*
 *	TABLE: cursos
*/

/* tabela */
.main-form-content-curso{
	display: block;
	width: inherit;
	margin-bottom: 20px;
}
/* tr's */
.main-form-cursoTitle, .main-form-cursoLine{
	display: block;
	width: inherit;
}
/* td: checkbox */
.main-form-checkLabel, .main-form-cursoLine-checkbox{
	width: 30px;
}
.main-form-cursoLine-checkbox{
	/* border: 1px solid #888; */
	/* border-radius: 5px; */
}
/* td: nome do curso */
.main-form-cursoLabel{
	padding-bottom: 3px;
}
.main-form-cursoLabel, .main-form-cursoLine-nome{
	width: 240px;
}
/* td: vagas(interno e externo) */
.main-form-vagasLabel{
	padding-bottom: 3px;
}
.main-form-vagasLabel, .main-form-cursoLine-vagas{
	width: 110px;
}
/* conteúdo dos td's */
.main-form-checkLabel-ctt, .main-form-cursoLabel-ctt, .main-form-vagasLabel-ctt, .main-form-vagasLabel-ctt, .main-form-cursoLine-checkbox-element, .main-form-cursoLine-nome-text, .main-form-cursoLine-vagas-interno, .main-form-cursoLine-vagas-externo{
	width: 100%;
}
/* conteúdo do checkbox */
.main-form-cursoLine-checkbox-element{
	width: 15px;
	height: 15px;
	margin: 7.5px;
	margin-left: 0;
}

/*
 *	TABLE: condição
*/

/* tabela */
.main-form-content-condicao{
	width: inherit;
	margin-bottom: 20px;
}
/* tr's */
.main-form-condicaoLabel, .main-form-condicaoInput{
	display: block;
	width: inherit;
}
/* td's */
.main-form-condicaoLabel-ctt, .main-form-condicaoInput-ctt{
	display: block;
	width: 100%;
}
/* conteúdo do label */
.main-form-condicaoLabel-ctt-text{
	display: block;
	padding-bottom: 3px;
}
/* conteúdo do input */
.main-form-condicaoInput-ctt-element{
	display: block;
	width: 100%;
	height: 100px;
	outline: none;
	resize: none;
}

/*
 *	BUTTON: enviar formulário
*/

.main-form-inputButton{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-right: 0;
	width: 125px;
	height: 35px;
}
