*{
	margin: 0px;
	padding: 0px;
}

table, tr, td{
	/* border: 1px solid #000; */
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 100px 0;
}
.main-title{
	display: block;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: 700px;
	margin: 0 auto;
}
.main-form-content{
	width: 100%;
	height: auto;
}
.main-form-abertTitle-ctt-text, .main-form-encerTitle-ctt-text{
	text-align: center;
}
.main-form-abertInput-data-text, .main-form-abertInput-hora-text, .main-form-encerInput-data-text, .main-form-encerInput-hora-text{
	width: 100%;
}
.main-form-inputButton{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	clear: both;
	width: 100px;
	height: 25px;
}
