@charset "ISO-8859-1";

table{
	border: 1px solid #000;
}
td{
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	
}
.main-table-td{
	font-family: arial;
}
.main-table-title{
	font-size: 15px;
    color: #666;
    text-transform: capitalize;
    
}