.main-title{
	font-family: 'arial';
	font-size: 45px;
	font-weight: normal;
	word-spacing: 10px;
	color: #414c57;
	margin-bottom: 30px;
	text-align: left;
}
.main-title::after{
	display: block;
	content: '';
	width: 400px;
	height: 4px;
	margin: 15px 0;
	background-color: #586777;
}
.main-form-abertTitle-ctt-text, .main-form-encerTitle-ctt-text, .main-form-cursoH1-title{
	text-transform: capitalize;
	font-size: 20px;
	letter-spacing: 1px;
}
.main-form-abertLabel-data-text, .main-form-abertLabel-hora-text, .main-form-encerLabel-data-text, .main-form-encerLabel-hora-text, .main-form-condicao-title-text{
	font-size: 15px;
	padding-left: 15px;
	color: #666;
	text-transform: capitalize;
}
.main-form-cursoTitle-ctt-text, .main-form-vagasTitle-ctt-text{
	font-size: 15px;
	padding-left: 0px;
	padding-bottom: 5px;
	color: #666;
}
.main-form-abertInput-data-text, .main-form-abertInput-hora-text, .main-form-encerInput-data-text, .main-form-encerInput-hora-text, .main-form-cursoLine-vagas-interno, .main-form-cursoLine-vagas-externo, .main-form-condicao-input-element{
	padding: 7px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #999;
	outline: none;
}
.header-menuItem-content{
	font-weight: bold;
}
.main-form-inputButton{
	border: 1px solid #414c57;
	border-radius: 5px;
	background-color: #414c57;
	font-size: 17px;
	letter-spacing: 1px;
	cursor: pointer;
	color: #f0f0f0;
	transition: .3s;
}
.main-form-inputButton:hover{
	background-color: #586777;
	border-color: #586777;
}
