#header{
	background-color: #414c57;
}
.header-menu{
	background-color: #e0e0e0;
	transition: .5s;
}
.header-menuIcon{
	cursor: pointer;
}
.header-menuIcon-content, .header-menuIcon-content:before, .header-menuIcon-content:after{
	display: block;
	margin: auto;
	content: '';
	width: 18px;
	height: 4px;
	background-color: #fff;
}
.header-menuIcon-content:before{
	transform: translateY(-8px);
	width: 24px;
}
.header-menuIcon-content:after{
	transform: translateY(4px);
	width: 21px;
	margin-left: 0;
}
.header-menuItem{
	text-decoration: none;
	font-family: arial;
	font-size: 19px;
	text-transform: capitalize;
	color: rgba(0,0,0, .5);
	border-bottom: 2px solid #dadada;
	cursor: pointer;
}
.header-menuItem:last-child, .header-menuItem:first-child{
	border: 0;
}
.header-menuItem:hover{
	color: rgba(0,0,0, .9);
}
.header-menuItem:not(.header-menuItemLogotipo):hover{
	background-color: #dadada;
}
