.header-menuItem{
	text-decoration: none;
	font-family: arial;
	font-size: 17px;
	text-transform: capitalize;
	color: rgba(0,0,0, .6);
	cursor: pointer;
	transition: .3s;
}
.header-menuItem:hover{
	color: rgb(0, 87, 170);
}
.header-menuItem::after{
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background-color: rgb(0, 87, 170);
	margin: auto;
	transform: translateY(20px);
	transition: .3s;
}
.header-menuItem:hover::after{
	width: 100%;
}
