#main{
  display: flex;
  width: 100%;
  min-height: 550px;
}
.content{
  margin: auto;
  width: auto;
  height: auto;
}
.main-title{

}

/* --------------- */

*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 350px;
	margin: auto;
	padding: 100px 0;
}
.main-title{
	display: block;
	width: inherit;
	margin: 0 auto;
	text-align: left;
}
.main-form{
	width: inherit;
	margin: 0 auto;
}

/*
 *	TABLE: condição
*/

/* tr's */
.main-form-labelUser, .main-form-inputUser, .main-form-labelPass, .main-form-inputPass{
	display: block;
	width: inherit;
  padding-bottom: 3px;
  width: 100%;
  outline: none;
}

/*
 *	BUTTON: enviar formulário
*/

.main-form-buttonSend{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-right: 0;
	width: 125px;
	height: 35px;
} */
