#footer{
	display: flex;
	height: 5vh;
}
.footer-content{
	display: flex;
	margin: auto;
	width: auto;
	height: auto;
}
.footer-content-logotipo{
	width: 400px;
}
.footer-content-cefet{
	display: flex;
}
.footer-content-cefet-img{
	margin: auto;
	margin-left: 0;
}
.footer-content-fabricadesoftware{
	display: flex;
}
.footer-content-fabricadesoftware-img{
	margin: auto;
}
.footer-content-wordpress{
	display: flex;
}
.footer-content-wordpress-img{
	margin: auto;
	margin-right: 0;
}