*{
	margin: 0;
	border: 0;
	padding: 0;
}

#main{
	display: flex;
	width: 100%;
	height: 80vh;
}
.main-content{
	position: relative;
	display: block;
	margin: auto;
	width: 600px;
	padding: 30px;
}
.main-content-title{
	display: block;
	width: 100%;
	text-align: center;
}
.main-content-form{
	display: block;
	width: 100%;
}
.main-content-form-content{
	display: block;
	width: inherit;
	height: inherit;
}
.main-content-form-content-label{
	display: block;
	width: 80%;
	margin: 10px auto;
	text-align: center;
	margin-top: 90px;
}
.main-content-form-content-input{
	display: block;
	width: 80%;
	margin: 10px auto;
	margin-bottom: 70px;
	padding: 10px;
	text-align: center;
}
.main-content-form-content-send{
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 0;*/
	display: block;
	padding: 10px;
	margin: 0 auto;
	width: 50%;
}