*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 150px 0;
}
.main-title{
	display: block;
	width: 500px;
	margin: 0 auto;
	text-transform: capitalize;
}
.main-form{
	width: 500px;
	margin: 0 auto;
}

/* conteúdo do label */
.main-content-form-content-label{
	display: block;
	padding-bottom: 3px;
	width: 100%;
	height: 30px;
	outline: none;
}
/* conteúdo do input */
.main-content-form-content-input{
	display: block;
	width: 100%;
	height: 40px;
	outline: none;
}

/*
 *	BUTTON: enviar formulário
*/

.main-content-form-content-send{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-right: 0;
	width: 125px;
	height: 35px;
}
