@charset "utf-8";




*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: 0%;
	padding: 100px 0;
}
.main-title, h3{
	display: block;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: auto;
	margin: 0 auto;
}
.main-form-informations, .main-form-contact, .main-form-endereco{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.main-form-informations-nome, .main-form-informations-documento, .main-form-contact-telefone1, .main-form-contact-telefone2, .main-form-endereco-uf, .main-form-endereco-cidade, .main-form-endereco-bairro, .main-form-endereco-rua, .main-form-endereco-complemento, .main-form-contact-email{
	display: block;
	float: left;
	width: 50% !important;
}
.main-form-situation{
	width: 300px;
	height: auto;
	margin: 0 auto;
}
.main-form-situation-label{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.main-form-radiobutton-interno{
	float: left;
	width: auto;
}
.main-form-radiobutton-externo{
	float: right;
	width: auto;
}
.main-form-labelRadio, .main-form-inputRadio{
	display: inline-block;
}
.main-form-course{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.main-form-labelCurso{
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
}
.main-form-selectCurso{
	display: block;
	width: 92%;
	margin: 0 auto;
	padding: 10px;
}

.main-form-label:not(.main-form-situation-label):not(.main-form-labelCurso){
	clear: both;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
}
.main-form-input:not(.main-form-selectCurso){
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.main-form-inputButton{
	display: block;
	margin: 0 auto;
	margin-top: 120px;
	clear: both;
	width: 100px;
	height: 25px;
}
.main-form-inscricao{
	width:100%;	
}
.main-form-inscricao-abertura{
	width:20%;
	padding-left:20%;
	margin:0%;
}

.main-form-inscricao-encerramento{
	width:20%;
	margin:0%;
	
}