*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 100px 0;
}
.main-title{
	display: block;
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: auto;
	margin: 0 auto;
} 
.main-form-informations, .main-form-contact, .main-form-endereco{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.main-form-informations-nome, .main-form-informations-documento, .main-form-contact-telefone1, .main-form-contact-telefone2, .main-form-endereco-uf, .main-form-endereco-cidade, .main-form-endereco-bairro, .main-form-endereco-rua, .main-form-endereco-complemento, .main-form-contact-email{
	display: block;
	float: left;
	width: 50% !important;
}
.main-form-situation{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.main-form-situation-label{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.main-form-radiobutton-interno{
	float: left;
	width: auto;
}
.main-form-radiobutton-externo{
	float: right;
	width: auto;
}
.main-form-labelRadio, .main-form-inputRadio{
	display: inline-block;
}
.main-form-course{
	width: 1100px;
	height: auto;
	margin: 0 auto;
}
.main-form-labelCurso{
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
}
.main-form-selectCurso{
	display: block;
	width: 92%;
	margin: 0 auto;
	padding: 10px;
}

.main-form-label:not(.main-form-situation-label):not(.main-form-labelCurso){
	clear: both;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
}
.main-form-input:not(.main-form-selectCurso){
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.main-form-inputButton{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	clear: both;
	width: 100px;
	height: 25px;
}
.main-form-radiobutton-interno{
	width:100%;
}
.main-form-inputRadio{
	width: 100%;
	height: 100px;
}
table{
	width:790px;
	height:350px;
	padding:20px;
	margin-left:200px;
	
}

.main-form-labelNome{
	clear: both;
	width: 20%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: left;
	padding: 10px;
	text-transform: uppercase;
	font-family: arial;
	font-size: 15px;
	text-align: center;
	
}

.main-form-text2{
	clear: both;
	width: 20%;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px;
	text-transform: uppercase;
	font-family: arial;
	font-size: 12px;
	
}

.main-form-input{
	width: 100%;
}

.vagas{
	width:15%;
}
.main-form-inputMenor{
	width: 60px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.main-form-td{
	text-align: center;
}
