#header{
	width: 100%;
	height: 100px;
	display: flex;
}
.header-content{
	width: 1100px;
	height: 100%;
	margin: auto;
}
.header-logotipo{
	height: 100%;
	width: auto;
	display: flex;
	float: left;
}
.header-logotipo-img{
	margin: auto 0;
	width: 200px;
}
.header-menu{
	width: 700px;
	height: 100%;
	display: flex;
	float: right;
}
.header-nav{
	margin: auto;
	margin-right: 0;
}
.header-list{
	width: 100%;
	height: 100%;
}
.header-menuItem{
	display: inline-block;
	padding: 5px 20px;
	margin: 0 10px;
}

.header-menuItem{
	text-decoration: none;
	font-family: arial;
	font-size: 17px;
	text-transform: capitalize;
	color: rgba(0,0,0, .6);
	cursor: pointer;
	transition: .3s;
}
.header-menuItem:hover{
	color: rgb(0, 87, 170);
}
.header-menuItem::after{
	display: block;
	content: '';
	width: 0;
	height: 3px;
	background-color: rgb(0, 87, 170);
	margin: auto;
	transform: translateY(20px);
	transition: .3s;
}
.header-menuItem:hover::after{
	width: 100%;
}

#tabelainscricao{
	 height: 100vh;
	 border-top: 5px solid black;
	

}

#tabela {
	width: 100vw;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center

 }

#tituloinscricao{
	text-align: center;
	font-size: 50px;
	font-family: arial;

}

#tabelacanditados{
	border: 1px solid black;
	position: absolute;
	top: 250PX;
}

th{
	border: 1px solid black;
}

#thid{
	padding-right: 20px;
	
}
#thnome{
	padding-right: 250px;
	
}

#thdocumento{
	padding-right: 75px;

}

#thtelefone{
	padding-right: 90px;
}

#themail{
	padding-right: 200px;
}

#thie{
	padding-right: 40px;
}

#thcurso{
	padding-right: 75px;
}


#arquivos{
	 height: 100vh;
	 border-bottom: 5px solid black;
	 border-top: 5px solid black;
}

#divnovoarquivo{
	border:1px solid black;
	width: 100px;
}
#tituloarquivos{
	text-align: center;
	font-size: 50px;
	font-family: arial;
}

#infoalunos{
	 height: 100vh;
	 border-bottom: 5px solid black;
}
#tituloinfoalunos{
	text-align: center;
	font-size: 50px;
	font-family: arial;
}

